################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/xmlReader/xmlReader/obj/Release/netcoreapp2.1/xmlReader.csproj.CoreCompileInputs.cache
